# Python
__pycache__/
*.py[cod]

# Ambientes locais e segredos
.env
.venv/
venv/

# Logs
logs/
*.log

# Editores
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Conteudo de 'bots'
/bots

